body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  background-color: #0D1117;
  color: #d8dee9;
}

:root {
  --red: #c22b3d;
  --red-rgb: rgb(194, 43, 61);
  --blue: #4b6382;
  --blue-rgb: rgb(75, 99, 130);
  --dark-blue: #101721;
  --dark-blue-rgb: rgb(16, 23, 33);
  --white: #ffffff;
  --white-rgb: rgb(255, 255, 255);
  --bs-danger-rgb: var(--red-rgb);
}

.card-header a:hover {
  color: var(--red) !important;
}

.border-danger {
  border-color: var(--bs-danger-rgb) !important;
}

.link-dark {
  color: var(--blue-rgb) !important;
  -webkit-text-decoration-color: var(--blue-rgb) !important;
  text-decoration-color: var(--blue-rgb) !important;
}

.link-dark:focus, .link-dark:hover {
  color: var(--blue-rgb) !important;
  -webkit-text-decoration-color: var(--blue-rgb) !important;
  text-decoration-color: var(--blue-rgb) !important;
}

.link {
  color: var(--white-rgb) !important;
  -webkit-text-decoration-color: var(--white-rgb) !important;
  text-decoration-color: var(--white-rgb) !important;
}

.list-item:focus, .list-item:hover {
  color: var(--white-rgb) !important;
  -webkit-text-decoration-color: var(--white-rgb) !important;
  text-decoration-color: var(--white-rgb) !important;
  background-color: var(--dark-blue-rgb);
}

.list-item, .list-item a {
  height: 1.5em;
}

.list-item a img {
  width: 1em;
  height: 1em;
}